
<button mat-button (click)="addClick()">add course</button>
<button mat-button (click)="deleteClick()">delete course</button>
<button mat-button (click)="updateClick()">change course</button>

@if(addFlag && !isForbidden){
<form [formGroup]="myForm" (ngSubmit)="onSubmitAdd()" class="form-container">
    <mat-card>
        <mat-card-content>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
                @if(myForm.get('title')?.hasError('required')){
                <mat-error>
                    title is required.
                </mat-error>}
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>content</mat-label>
                <input matInput type="text" formControlName="content" />
                @if(myForm.get('content')?.hasError('required')){
                <mat-error>
                    Password is required.
                </mat-error>}
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">
                add
            </button>
        </mat-card-actions>
    </mat-card>
</form>
}

@if(deleteFlag && !isForbidden){
<form [formGroup]="myForm" (ngSubmit)="onSubmitDelete()" class="form-container">
    <mat-card>
        <mat-card-content>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Title of the course you want delete</mat-label>
                <input matInput formControlName="title" />
                @if(myForm.get('title')?.hasError('required')){
                <mat-error>
                    title is required.
                </mat-error>}
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">
                delete
            </button>
        </mat-card-actions>

    </mat-card>
</form>

}

@if(updateFlag && !isForbidden){
    <form [formGroup]="myForm" (ngSubmit)="onSubmitUpdate()" class="form-container">
        <mat-card>
            <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>id</mat-label>
                    <input matInput formControlName="id" />
                    @if(myForm.get('id')?.hasError('required')){
                    <mat-error>
                        title is required.
                    </mat-error>}
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" />
                    @if(myForm.get('title')?.hasError('required')){
                    <mat-error>
                        title is required.
                    </mat-error>}
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>content</mat-label>
                    <input matInput type="text" formControlName="content" />
                    @if(myForm.get('content')?.hasError('required')){
                    <mat-error>
                        Password is required.
                    </mat-error>}
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">
                    update
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
}

@if(isForbidden){
    <div>you are forbidden do this action</div>
}